<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	stopOnFailure="false"
	verbose="true"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="JSPN Unit Tests">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
